{% extends 'base2.html.twig' %}

{% block title %}
  {{ article .titre |capitalize }}
{% endblock %}

{% block body %}
  {% if article != null and article is defined %}

    <div class="container">
      <div class="p-lg-5 p-2">
        <div class=" ">
                <h2 class="text-capitalize">
          {{ article.titre }}
        </h2>
        <img src="{{ vich_uploader_asset(article,'fichier')}}" width="100%" class="img-fluid shadow-sm " alt="...">
        <p class="mt-5">
          {{ article.description | raw  }}

        </p>
        <small class="rounded-pill small">Publié le
          {{ article.misajour |date('d-m-Y')}}</small>
        </div>
      </div>
  </div>
    {% endif %}

    {% include 'home/publicite.html.twig' with {
      'publicite' : pub1
    } %}

    {% include 'home/article.html.twig'%}

{% endblock %}
