{% extends 'base.html.twig' %}

{% block title %}Hello SingleController!{% endblock %}

{% block body %}
 <!-- signle layout  -->
 {% if article != null and article is defined  %}
     <div class="m-lg-5 m-3">
        <div class="row">
            <div class="col-md-8 ">
                <h3 class="text-capitalize"> {{ article.titre }} </h3>
                <img src="{{ vich_uploader_asset(article,'fichier')}}" width="100%" class="img-fluid shadow-sm " alt="...">
                <p class="mt-5">
                    {{ article.description | raw  }}

                </p>

                <span class="text-muted"> Publié le {{ article.misajour |date('d-m-Y')}} </span>

            </div>
            <!-- banner recent post   -->
            <div class="col-md-4">
                <div class=" ">
                    <h4>Article récent</h4>
                    <div class="row ">
                    {% if articles is defined and articles != null %}
                    
                              {% for article  in  articles  %}
                           <div class="col-md-12 mt-2">
                            <a href="{{ path('single', {titre: article.titre | replace({' ': '-'}) , pays: article.pays } )}}" class="text-dark text-decoration-none">
                                <div class="row">
                                    <div class="col position-relative">
                                        <img src="{{ vich_uploader_asset(article,'fichier')}}" alt="" class="img-thumbnail">
                                    </div>
                                    <div class="col-md-7">
                                        <span class="text-success"> {{ article.titre }}</span>
                                        <div>
                                            {{ article.description | raw }}
                                        </div>
                                        <small class="text-muted"> {{ article.misajour |date('d-m-Y')}}</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% endif %}
                    
          
                     
                        
                      
                    </div>
                </div><br>
                <div class=" ">
                    <h4>Catégories</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="" class="text-dark text-decoration-none h6">
                                Assurance chomage 
                            </a>
                        </div>
                        <div class="col-mt-12">
                            <a href="" class="text-dark text-decoration-none h6">
                                video pratique en radiologie 
                            </a>
                        </div>
                        <div class="col-md-12">
                            <a href="" class="text-dark text-decoration-none h6">
                                Assurance chomage 
                            </a>
                        </div>

                    </div>



                </div>

            </div>

        </div>
    </div>

 
 {% endif %}
 

    {# <!-- article ralatif -->
    <section class="container   mt-5 mb-5 ">
        <h4 class="">Article relatifs </h4>
        <div class=" art  owl-carousel owl-theme  ">
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia.</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia.</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia.</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/sante_1_0.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non
                            officia</p>
                        <a href="#" class="btn btn-success">lire plus</a>
                    </div>
                </div>
            </div>


        </div>
        <div class="text-center pt-3 justify-content-center">
            <a href="" class="btn btn-dark"> Voir tous les infos</a>
        </div>
    </section> #}
    <!-- banner pub -->
    {% if pub1 is defined and  pub1 != null %}
        {% for pub  in pub1 %}
     <section class="container-fluid bg-default text-center d-flex overflow-hidden justify-content-center align-items-center p-5"
        style="height: 22rem; ">
        <img src="{{asset('images/pubs/'~ pub.image)}}" class="w-100" alt="">
    </section>
        {% endfor %}
    {% endif %}

     {% if  miniatures is  defined and  miniatures != null  %}

            <section class="container-fluid pt-5">
        <h4 class="text-center">Assurance maladies : Togo </h4>
        <div class="assurance-banner p-2 owl-carousel owl-theme">
        {% for mini in miniatures %}
            <div class="item">
                <div class="cover">
                <a href="https://{{ mini.flip }}" target="_blank"  >
                    <img src="{{asset('/images/miniatures/'~ mini.image )}}" class="thumb-nail card-top-img ">
                    </a>
                </div>
            </div>
        {% endfor %}
        
        </div>

    </section>

    {% endif %}
{% endblock %}
