{% extends 'base2.html.twig' %}

{% block title %} {{  maladienutrition.titre |capitalize }}{% endblock %}

{% block body %}
 <!-- signle layout  -->
 {% if maladienutrition != null and maladienutrition is defined  %}

    <div class="container ">
        <div class="p-lg-5 p-2">
            <div class=" ">
                <h2 class="text-capitalize"> {{ maladienutrition.titre }} </h2>
                <img src="{{ vich_uploader_asset(maladienutrition,'fichier')}}" width="100%" class="img-fluid shadow-sm " alt="...">
                <p class="mt-5">
                    {{ maladienutrition.description | raw  }}

                </p>
                 {# <small class="rounded-pill small">Publié le {{ article.misajour |date('d-m-Y')}}</small> 
                <span class="text-muted"></span> #}

            </div>
            <!-- banner recent post   -->


        </div>

</div>
{% endif  %}


    <!-- banner pub -->
  {# <section class="container mt-5 mb-5 ">
      <div class="swiper mySwiper">
            <div class="swiper-wrapper">
            {% for pub in pub3 %}
                <div class="swiper-slide">
                    <img src="{{ vich_uploader_asset(pub,'fichier')}}" class="w-100"  alt="">
                </div>
            {% endfor %}    
            </div>
        <div class="swiper-button-next"></div>
         <div class="swiper-button-prev"></div>
         <div class="swiper-pagination"></div>
        </div>
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
        </div>  
</section> #}


{# <!-- article ralatif --> #}
{% if articles is defined and  articles != null %}
<section class="container   mt-5 mb-5 ">
        <h2 class="mb-4 d-flex justify-content-between  align-items-center">Articles récents 
            <a href="{{ path('all.articles')}}" class="btn btn-success">Voir plus </a>
        </h2>
        <div class=" art  owl-carousel owl-theme  ">
        {% for article in articles %}
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="{{vich_uploader_asset(article, 'fichier')}}" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                       
                        <div class="metadata">
                            <small class="rounded-pill small">categroies</small> 
                            <small class="rounded-pill small">Pays</small>
                            <small class="rounded-pill small">11-12-22021</small>
                        </div>
                         <h4 class="card-title text-capitalize">{{ article.titre }}</h4>
                        <p class="card-text">
                         {{  article.description |striptags  |u.truncate(100) | raw }}</p>
                            
                            <a href="{{ path('single', {titre: article.titre | replace({' ': '-'}), pays: article.pays} )}}" class=" btn-sante-outline ">
                                <span> Lire plus <i class="fas fa-arrow-circle-right"></i></span>
                            </a>
                    </div>
                </div>
            </div>
        {% endfor %}
            
        </div>
     
 </section>
{% endif %}




{% endblock %}
