{% extends 'base.html.twig' %}

{% block title %}Hello world {% endblock %}

{% block body %}



    <!-- banner conseil -->
    <section class=" container-fluid p-lg-4 p-md-2  p-sm-1 p-2 " style="background-color: #0068FD;">
        <div class="container ">
            <p class="display-5 text-light ">
                Reduire Sa <br> consommation d'alcool <br>
                c'est reduire les risques <br>
                pour sa santé
            </p>
        </div>

    </section>
    <!-- banner flag  -->
    <section class="container position-relative">
        <h4 class="">Naviguer dans un pays </h4>
        <div class="banner-pays owl-carousel owl-theme ">
        {% for pays in pays %}
             <div class="item">
             <a class="text-decoration-none  text-dark " href="{{path('pays',{pays: pays.nom  })}}">
             <div class="banner-pays-flag">
                    <div class="flag">
                        <img src="{{ vich_uploader_asset(pays, 'fichier' )}}" alt="{{ pays.nom }})">
                    </div>
                    <span>
                       {{pays.nom }}
                    </span>
                </div>
             </a>
                
            </div>
        {% endfor %}
           
        </div>
    </section>
    <!-- banner  article  -->
    {% include "home/article.html.twig" %}
    {# <!-- banner  article vidéos -->
    <section class="container  mt-5 mb-5 ">
        <h4 class="">Vidéo de conseils pratiques santé </h4>
        <div class="art owl-theme  owl-carousel  ">
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia</p>
                            <a href="#" class="btn btn-primary ">lire plus </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia</p>
                        <a href="#" class="btn btn-primary">lire plus </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia.</p>
                            <a href="#" class="btn btn-primary">lire plus </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia.</p>
                            <a href="#" class="btn btn-primary">lire plus </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia.</p>
                            <a href="#" class="btn btn-primary">lire plus </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card shadow-sm" style="width: 25rem;">
                    <img src="img/Santé-Numérique-570x380.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Assurance chomage</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio non officia.</p>
                            <a href="#" class="btn btn-primary">lire plus </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center  pt-3 justify-content-center">
            <a href="" class="btn rounded-0 btn-dark"> Voir tous les vidéos</a>
        </div>
    </section> #}
    <!-- banner pub -->
    {% if pub1 is defined and  pub1 != null %}
        {% for pub  in pub1 %}
     <section class="container-fluid bg-default text-center d-flex overflow-hidden justify-content-center align-items-center p-5"
        style="height: 22rem;  ">
        <img src="{{asset('images/pubs/'~ pub.image)}}" class="w-100"  alt="">
    </section>
        {% endfor %}
    {% endif %}
   {% include "home/vignette.html.twig" %}
    <!-- banner pub -->
 
    {% if pub2 is defined and  pub2 != null %}
        {% for pub  in pub2 %}
     <section class="container-fluid bg-default text-center d-flex  overflow-hidden  justify-content-center align-items-center p-5"
        style="height: 22rem; ">
        <img src="{{asset('images/pubs/'~ pub.image)}}" class="w-100" alt="">
    </section>
        {% endfor %}
    {% endif %}
    
    {% if miniatures is defined and  miniatures != null  %}

            <section class="container-fluid pt-5">
        <h4 class="text-center">Assurance maladies : Togo </h4>
        <div class="assurance-banner p-2 owl-carousel owl-theme">
        {% for mini in miniatures %}
            <div class="item">
                <div class="cover">
                   <a href="https://{{ mini.flip }}" target="_blank">
                    <img src="{{asset('/images/miniatures/'~ mini.image )}}" class="thumb-nail card-top-img ">
                    </a>
                </div>
            </div>
        {% endfor %}
        
        </div>

    </section>

    {% endif %}
    

    <!-- footer  -->

{% endblock %}
