{% extends 'base.html.twig' %}

{% block title %}SANTE
{% endblock %}

{% block body %}

  <!-- banner flag -->
  <section class="container mt-5 ">
    <h2 class="mb-4">Naviguer dans un pays
    </h2>
    <div class="swiper banner-pays" style="">
      <div class="swiper-wrapper  ">
      {% for pays in pays %}
        <div class="swiper-slide ">
          <a class="text-decoration-none  text-dark " href="{{path('pays',{pays: pays.nom })}}">
            <div class="banner-pays-flag">
              <div class="flag">
                <img src="{{ vich_uploader_asset(pays, 'fichier' )}}" alt="{{ pays.nom }})">
              </div>
              <span>
                {{pays.nom }}
              </span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

      <div class="swiper-pagination"></div>
    </div>
  </section>
  <!-- banner article -->
  {% include "home/article.html.twig" %}

  {% include 'home/publicite.html.twig' with {
    'publicite' : pub1
  } %}

  {% set i = 0 %}
  {% for key, repertoire in repertoires %}
    {% set i = i + 1%}
    {% if repertoire is defined and repertoire | length >= 1 %}
      <section class="container mt-5 mb-5  ">
        <small class="Repertroire" style="background: var(--primary);
								padding: .2rem 1rem;
								color: white;">
          <i class=" fas fa-folder "></i>
          <span>Repertroire</span>
        </small>
        <h2 class="mb-4 d-flex justify-content-between  align-items-center">{{ key }}
          <a href="{{ path('all.repertoire',{categorie: key ,locat: locat })}}" class="btn btn-success">Voir plus
          </a>
        </h2>
        <div class="swiper repertoire" >
          <div class="swiper-wrapper  ">
            {% for vignette in repertoire %}
              <div class="swiper-slide ">
                <div class="card shadow-sm" style="width: 20rem;">
                  <img src="{{ vich_uploader_asset(vignette, 'fichier')}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="metadata">
                      <small class="rounded-pill small">{{ vignette.categorie }}</small>
                    </div>
                    <h4 class="card-title text-capitalize ">{{ vignette.titre }}
                    </h4>
                    <p class="card-text">
                      {{ vignette.description  |striptags  |u.truncate(100) | raw  }}</p>
                    <a href="{{ vignette.flip ? vignette.flip : '' }}" target="_blank" data-rel="fh5-light-box-demo" data-href="{{ vignette.flip ? vignette.flip : '' }}" data-width="900" data-height="500" data-title="{{ vignette.titre}}" class=" btn-sante-outline ">
                      <span>
                        Lire plus
                        <i class="fas fa-arrow-circle-right"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>

      </section>
      <!-- publicte -->
      {% if i == 2 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub2
        } %}
      {% endif %}

      {% if i == 4 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub3
        } %}
      {% endif %}

      {% if i == 6 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub4
        } %}
      {% endif %}

      {% if i == 8 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub5
        } %}
      {% endif %}
      {% if i == 10 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub6
        } %}
      {% endif %}
      {% if i == 12 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub7
        } %}
      {% endif %}
      {% if i == 14 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub8
        } %}
      {% endif %}
      {% if i == 16 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub9
        } %}
      {% endif %}
      {% if i == 18 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub10
        } %}
      {% endif %}
      {% if i == 20 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub11
        } %}
      {% endif %}
      {% if i == 22 %}
        {% include 'home/publicite.html.twig' with {
          'publicite' : pub12
        } %}
      {% endif %}

    {% endif %}

  {% endfor %}

  <!-- banner pub -->

  {# <section class="container mt-5 mb-5 ">
<div class="swiper mySwiper">
<div class="swiper-wrapper">
{% for pub in pub4 %}
<div class="swiper-slide">
<img src="{{ vich_uploader_asset(pub,'fichier')}}" class="w-100" alt=""  data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ pub.titre }}">
</div>
{% endfor %}
</div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
<div class="swiper-pagination"></div>
</div>
<!-- If we need scrollbar -->
<div class="swiper-scrollbar"></div>
</div>

</section> #}

  {% include 'home/conseil.html.twig' %}

{% endblock %}
